V.2/flows.json
[
    {
        "id": "7a4abd962ce28ea5",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b89e9d454750bee2",
        "type": "ui_slider",
        "z": "7a4abd962ce28ea5",
        "name": "",
        "label": "Sampling time(s)",
        "tooltip": "",
        "group": "a0f5cf25b8777fd1",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "1",
        "max": "60",
        "step": 1,
        "className": "",
        "x": 270,
        "y": 140,
        "wires": [
            [
                "432c428413f9246e"
            ]
        ]
    },
    {
        "id": "8e143c6391f3013d",
        "type": "ui_slider",
        "z": "7a4abd962ce28ea5",
        "name": "",
        "label": "Upload time(s)",
        "tooltip": "",
        "group": "a0f5cf25b8777fd1",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "60",
        "max": "300",
        "step": 1,
        "className": "",
        "x": 280,
        "y": 200,
        "wires": [
            [
                "7da59487ace85b2c"
            ]
        ]
    },
    {
        "id": "432c428413f9246e",
        "type": "change",
        "z": "7a4abd962ce28ea5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Ts",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 140,
        "wires": [
            [
                "00f2a3ea4a7290bf"
            ]
        ]
    },
    {
        "id": "7da59487ace85b2c",
        "type": "change",
        "z": "7a4abd962ce28ea5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Tu",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 200,
        "wires": [
            [
                "5e1786752018745d"
            ]
        ]
    },
    {
        "id": "00f2a3ea4a7290bf",
        "type": "function",
        "z": "7a4abd962ce28ea5",
        "name": "function 1",
        "func": "let ts = global.get(\"Ts\")*1000 || 5000;\nmsg.payload = ts;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 140,
        "wires": [
            [
                "6ad21c5c874e80ad"
            ]
        ]
    },
    {
        "id": "6ad21c5c874e80ad",
        "type": "mqtt out",
        "z": "7a4abd962ce28ea5",
        "name": "",
        "topic": "ts",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4a9c9c3b7947ab20",
        "x": 850,
        "y": 140,
        "wires": []
    },
    {
        "id": "9894ff328af0af0d",
        "type": "mqtt in",
        "z": "7a4abd962ce28ea5",
        "name": "",
        "topic": "Average_LDR",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fadacfc124464ec7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 370,
        "y": 360,
        "wires": [
            [
                "d5b5818e7aaf7aee",
                "c688ec42f220b8a8",
                "13ec76c25903797f"
            ]
        ]
    },
    {
        "id": "5e1786752018745d",
        "type": "function",
        "z": "7a4abd962ce28ea5",
        "name": "function 2",
        "func": "let tu = global.get(\"Tu\") * 1000;\nmsg.payload = tu;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 200,
        "wires": [
            [
                "6f53da5a460d44a4"
            ]
        ]
    },
    {
        "id": "6f53da5a460d44a4",
        "type": "mqtt out",
        "z": "7a4abd962ce28ea5",
        "name": "",
        "topic": "tu",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cfc5fe5b0c7142e0",
        "x": 850,
        "y": 200,
        "wires": []
    },
    {
        "id": "d5b5818e7aaf7aee",
        "type": "ui_text",
        "z": "7a4abd962ce28ea5",
        "group": "a0f5cf25b8777fd1",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Recent Intencity value",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 680,
        "y": 360,
        "wires": []
    },
    {
        "id": "c688ec42f220b8a8",
        "type": "ui_chart",
        "z": "7a4abd962ce28ea5",
        "name": "",
        "group": "a0f5cf25b8777fd1",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Intensity with the time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1.2",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#104265",
            "#7b9cc6",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#c11010",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "5d37422bd451db02",
        "type": "ui_slider",
        "z": "7a4abd962ce28ea5",
        "name": "",
        "label": "Theta offset",
        "tooltip": "",
        "group": "027d18563f01dc50",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "120",
        "step": 1,
        "className": "",
        "x": 370,
        "y": 540,
        "wires": [
            [
                "05ef7c78213db825"
            ]
        ]
    },
    {
        "id": "e61e722d5668f305",
        "type": "ui_slider",
        "z": "7a4abd962ce28ea5",
        "name": "",
        "label": "Controlling factor",
        "tooltip": "",
        "group": "027d18563f01dc50",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1",
        "step": "0.01",
        "className": "",
        "x": 350,
        "y": 600,
        "wires": [
            [
                "78eb70ed53133bfb"
            ]
        ]
    },
    {
        "id": "1957635645c63dd6",
        "type": "ui_slider",
        "z": "7a4abd962ce28ea5",
        "name": "",
        "label": "T. medicine",
        "tooltip": "",
        "group": "027d18563f01dc50",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "10",
        "max": "40",
        "step": 1,
        "className": "",
        "x": 370,
        "y": 660,
        "wires": [
            [
                "fee1f9eeb7e11e2a"
            ]
        ]
    },
    {
        "id": "05ef7c78213db825",
        "type": "change",
        "z": "7a4abd962ce28ea5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "theta",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 540,
        "wires": [
            [
                "2a15438624d3d9ea"
            ]
        ]
    },
    {
        "id": "78eb70ed53133bfb",
        "type": "change",
        "z": "7a4abd962ce28ea5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gama",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 600,
        "wires": [
            [
                "db6117facc51f042"
            ]
        ]
    },
    {
        "id": "fee1f9eeb7e11e2a",
        "type": "change",
        "z": "7a4abd962ce28ea5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "t_med",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 660,
        "wires": [
            [
                "e44d69da2373f82b"
            ]
        ]
    },
    {
        "id": "9b4cce550a15d733",
        "type": "mqtt out",
        "z": "7a4abd962ce28ea5",
        "name": "",
        "topic": "Theta_off",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3a3935e1bb8459bd",
        "x": 940,
        "y": 540,
        "wires": []
    },
    {
        "id": "f3ad2b3a6a685aac",
        "type": "mqtt out",
        "z": "7a4abd962ce28ea5",
        "name": "",
        "topic": "gama",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "04d41d54637d5ac4",
        "x": 930,
        "y": 600,
        "wires": []
    },
    {
        "id": "e3e7d1d409538d35",
        "type": "mqtt out",
        "z": "7a4abd962ce28ea5",
        "name": "",
        "topic": "T_med",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5d09fae336a9bc8f",
        "x": 940,
        "y": 660,
        "wires": []
    },
    {
        "id": "2a15438624d3d9ea",
        "type": "function",
        "z": "7a4abd962ce28ea5",
        "name": "function 3",
        "func": "let theta = global.get(\"theta\");\nmsg.payload = theta;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 540,
        "wires": [
            [
                "9b4cce550a15d733"
            ]
        ]
    },
    {
        "id": "db6117facc51f042",
        "type": "function",
        "z": "7a4abd962ce28ea5",
        "name": "function 4",
        "func": "let gama = global.get(\"gama\");\nmsg.payload = gama;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 600,
        "wires": [
            [
                "f3ad2b3a6a685aac"
            ]
        ]
    },
    {
        "id": "e44d69da2373f82b",
        "type": "function",
        "z": "7a4abd962ce28ea5",
        "name": "function 5",
        "func": "let t_med = global.get(\"t_med\") || 30;\nmsg.payload = t_med;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 660,
        "wires": [
            [
                "e3e7d1d409538d35"
            ]
        ]
    },
    {
        "id": "6f416e40d12ca2ab",
        "type": "mqtt in",
        "z": "7a4abd962ce28ea5",
        "name": "",
        "topic": "Temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "db67775026924fd0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 820,
        "wires": [
            [
                "5f8f171697de4f8d",
                "dfd103dd2efce295"
            ]
        ]
    },
    {
        "id": "5f8f171697de4f8d",
        "type": "ui_gauge",
        "z": "7a4abd962ce28ea5",
        "name": "",
        "group": "bcf944520469769c",
        "order": 1,
        "width": 8,
        "height": 4,
        "gtype": "gage",
        "title": "Temperature(C)",
        "label": "C",
        "format": "{{msg.payload}}",
        "min": "-40",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 520,
        "y": 820,
        "wires": []
    },
    {
        "id": "13ec76c25903797f",
        "type": "ui_gauge",
        "z": "7a4abd962ce28ea5",
        "name": "",
        "group": "a0f5cf25b8777fd1",
        "order": 4,
        "width": 8,
        "height": 3,
        "gtype": "gage",
        "title": "Recent Intensity Value",
        "label": "",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 680,
        "y": 320,
        "wires": []
    },
    {
        "id": "dfd103dd2efce295",
        "type": "ui_chart",
        "z": "7a4abd962ce28ea5",
        "name": "",
        "group": "bcf944520469769c",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature(C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-40",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 520,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "d688996591feaf36",
        "type": "ui_spacer",
        "z": "7a4abd962ce28ea5",
        "name": "spacer",
        "group": "bcf944520469769c",
        "order": 2,
        "width": 8,
        "height": 1
    },
    {
        "id": "a0f5cf25b8777fd1",
        "type": "ui_group",
        "name": "Light Intensity",
        "tab": "fbb580697bb7fd5e",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4a9c9c3b7947ab20",
        "type": "mqtt-broker",
        "name": "ts",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fadacfc124464ec7",
        "type": "mqtt-broker",
        "name": "Average_LDR",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cfc5fe5b0c7142e0",
        "type": "mqtt-broker",
        "name": "tu",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "027d18563f01dc50",
        "type": "ui_group",
        "name": "Shade Window Control",
        "tab": "fbb580697bb7fd5e",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3a3935e1bb8459bd",
        "type": "mqtt-broker",
        "name": "Theta_off",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "04d41d54637d5ac4",
        "type": "mqtt-broker",
        "name": "gama",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5d09fae336a9bc8f",
        "type": "mqtt-broker",
        "name": "T_med",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "db67775026924fd0",
        "type": "mqtt-broker",
        "name": "Temperature(C)",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "bcf944520469769c",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "fbb580697bb7fd5e",
        "order": 3,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fbb580697bb7fd5e",
        "type": "ui_tab",
        "name": "Medibox",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]